<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632194265206-vm2qc574ttsu1jakt38t2qa1jo35hf9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632194265206-vm2qc574ttsu1jakt38t2qa1jo35hf9i</string>
	<key>API_KEY</key>
	<string>AIzaSyBmJ2GrvsnwuOug7maz_OVYcHRNytI5R00</string>
	<key>GCM_SENDER_ID</key>
	<string>632194265206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NEX.Nexvent</string>
	<key>PROJECT_ID</key>
	<string>nexvent-cc6d5</string>
	<key>STORAGE_BUCKET</key>
	<string>nexvent-cc6d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:632194265206:ios:2e895f83d1172075b3af57</string>
</dict>
</plist>
